.profile-page{
  width: 85%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.profile-page-title{
  margin-bottom: 25px;
}

.profile-image{
  border-radius: 50%;
  width: 60%;
  display:block;
  margin:20px auto 10px;

}

.image-picker{
  border-style: none;
  display: block ;
  margin: 0 auto;
}

.card{
  overflow:hidden;
}

.profile-page-card{
  margin-bottom: 20px;
  border-style: none;
}


.edit-button, .add-button{
  margin-left: 10px;
}

.add-button{
  width: 30px;
  height: 30px;
  padding: 0;
}

.contact-info{
  margin-top: 20px;
}

.contact-info-title{
  margin-bottom: 20px;
}

.edit-field{
  margin-bottom: 10px !important;
}

.card-button{
  padding: 0 !important;
  margin-left: 10px;
}

.aboutme-helper-message{
  opacity: 0.6;
}
